<a href="https://colab.research.google.com/github/kennyb321/notes/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [2]:
import os

In [3]:
os.getcwd()

'/content'

In [4]:
os.chdir('..')
os.getcwd()

'/'

In [5]:
os.listdir()

['var',
 'proc',
 'run',
 'media',
 'dev',
 'boot',
 'sbin',
 'lib',
 'root',
 'home',
 'mnt',
 'opt',
 'srv',
 'usr',
 'tmp',
 'bin',
 'sys',
 'etc',
 'lib64',
 '.dockerenv',
 'tools',
 'datalab',
 'tensorflow-1.15.2',
 'content',
 'lib32']

In [6]:
df = pd.read_csv('diabetes.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
dataset = df

In [9]:
len(dataset)

768

In [10]:
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [11]:
#replace zeros
zero_not_accepted = ['Glucose', 'BloodPressure', 'SkinThickness', 'BMI', 'Insulin']

In [14]:
for column in zero_not_accepted:
  dataset[column] = dataset[column].replace(0, np.NaN)
  mean = int(dataset[column].mean(skipna=True))
  dataset[column] = dataset[column].replace(np.NaN, mean)

In [15]:
dataset['Glucose']

0      148.0
1       85.0
2      183.0
3       89.0
4      137.0
       ...
763    101.0
764    122.0
765    121.0
766    126.0
767     93.0
Name: Glucose, Length: 768, dtype: float64

In [23]:
#split the dataset
x = dataset.iloc[:, 0:8]
y = dataset.iloc[:,8]
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=0.2)

In [24]:
dataset.iloc[:,0:8]

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6    148.0           72.0  ...  33.6                     0.627   50
1              1     85.0           66.0  ...  26.6                     0.351   31
2              8    183.0           64.0  ...  23.3                     0.672   32
3              1     89.0           66.0  ...  28.1                     0.167   21
4              0    137.0           40.0  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10    101.0           76.0  ...  32.9                     0.171   63
764            2    122.0           70.0  ...  36.8                     0.340   27
765            5    121.0           72.0  ...  26.2                     0.245   30
766            1    126.0           60.0  ...  30.1                     0.349   47
767            1     93.0           70.0  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [25]:
#feature scaling
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

In [26]:
dataset

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              1     85.0  ...   31        0
2              8    183.0  ...   32        1
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763           10    101.0  ...   63        0
764            2    122.0  ...   27        0
765            5    121.0  ...   30        0
766            1    126.0  ...   47        1
767            1     93.0  ...   23        0

[768 rows x 9 columns]

In [29]:
#Define model: Init KNN
classifier = KNeighborsClassifier(n_neighbors=11, p=2, metric='euclidean')

#fit model
classifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

In [30]:
# predict the test set results
y_pred = classifier.predict(x_test)
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [31]:
x_test[0]
y_pred[0]

1

In [35]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[94 13]
 [15 32]]

In [36]:
#
print(f1_score(y_test, y_pred))

9

0.6956521739130436

9

In [38]:
print(accuracy_score(y_test, y_pred))

0.8181818181818182